# Web Framework & Server
fastapi==0.135.1
uvicorn==0.41.0
pydantic==2.12.5

# Data & Machine Learning (KNN Recommendation)
pandas==3.0.1
scikit-learn==1.8.0
numpy==2.4.3
scipy==1.17.1

# Database
psycopg2-binary==2.9.11

# AI SDKs (Groq for Main AI & Google for Testing)
groq
google-genai

# Environment Variables
python-dotenv==1.2.2
